// post approval modal
.post-approval-modal {
  // move to existing topic
  .existing-topic {
    .radio {
      flex-wrap: wrap;
    }
    .topic-title {
      max-width: 90%;
    }
    .topic-categories {
      width: 100%;
    }
  }
}
  